<h1>Register</h1>
<form method="post" action="/Users/Register">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username..." name="Username">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Email..." name="Email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password..." name="Password">
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm Password..." name="ConfirmPassword">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>